.circleGearWheel {
    color:#fff;
    text-decoration: none;
    position: relative;
    width: 163px;
    height: 180px;
}

.circleGearWheel__image {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border: 0.5em solid rgba(255, 255, 255, 0.5);
    height: 80px;
    width: 80px;
}

.sponsors__img {
    position: absolute;
}

.sponsors__img:hover {
    transform: scale(1.3);
}