.sponsors {
    position: absolute;
    top:0; left:0;
    position: relative;
    transition: 1s;
    height:196.6;
    width:163.6;
    border: 1px solid #fff;

}

.sponsors__img {
    position: absolute;
}
